/**
 * fullPage 1.6.7
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */
html, body {
    margin: 0;
    padding: 0;
	overflow:hidden;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
#superContainer {
    height: 100%;
    position: relative;
	
	/* Touch detection for Windows 8 */
	-ms-touch-action: none; 
}
.section {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.slide {
    float: left;
}
.slide, .slidesContainer {
    height: 100%;
    display: block;
}
.slides {
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.section.table, .slide.table {
    display: table;
    width: 100%;
}
.tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.slidesContainer {
    float: left;
    position: relative;
}
.controlArrow {
    //Note - remove this to add back in arrow controls
    display: none;
    // End note

    position: absolute;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
}
.controlArrow.prev {
    left: 35px;
    //width: 0;
    //border-width: 38.5px 34px 38.5px 0;
    //border-color: transparent #ccc transparent transparent;
    //background-image: url('/static/yeti/imgs/leftarrow.png');
    width: 46px;
    height: 104px;
    border: none;
    background-size: 25px;
    background-repeat: no-repeat;
    opacity:0.4;
     -webkit-transition: opacity 300ms ease-out;
}
.controlArrow.next {
    right: 35px;
    //border-width: 38.5px 0 38.5px 34px;
    //border-color: transparent transparent transparent #ccc;
    //background-image: url('/static/yeti/imgs/rightarrow.png');
    width: 46px;
    height: 104px;
    border: none;
    background-size: 25px;
    background-repeat: no-repeat;
    opacity:0.4;
     -webkit-transition: opacity 300ms ease-out;
}
.controlArrow:hover{
    opacity: 1;
} 

.scrollable {
    overflow: scroll;
}
.easing {
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
}
#fullPage-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
}
#fullPage-nav.right {
    right: 17px;
}
#fullPage-nav.left {
    left: 17px;
}
.fullPage-slidesNav {
    position: absolute;
    z-index: 4;
    left: 50%;
    opacity: 1;
}
.fullPage-slidesNav.bottom {
    bottom: 17px;
}
.fullPage-slidesNav.top {
    top: 17px;
}
#fullPage-nav ul,
.fullPage-slidesNav ul {
  margin: 0;
  padding: 0;
}
#fullPage-nav li,
.fullPage-slidesNav li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
.fullPage-slidesNav li {
    display: inline-block;
}
#fullPage-nav li a,
.fullPage-slidesNav li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fullPage-nav li .active span,
.fullPage-slidesNav .active span {
    background: #333;
}
#fullPage-nav span,
.fullPage-slidesNav span {
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}
.fullPage-tooltip {
    position: absolute;
    color: #fff;
    font-size: 14px;
    font-family: sans-serif;
    top: -2px;
}
.fullPage-tooltip.right {
    right: 20px;
}
.fullPage-tooltip.left {
    left: 20px;
}








@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;    
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
    font-family: sans-serif;
    font-weight: 100;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;	
}
p{
	font-size: 2em;
}

.slide3 p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}

.section{
	text-align:center;
}

/* **************************************** */
/* **************************************** */
/* **************************************** */

	
/* Style for our header texts 
* --------------------------------------- */
a, .navDiscover, .navTeam, .navPress, .navContact{
	color: #fff;
	opacity:0.6;
	-webkit-transition: opacity 300ms ease-out;
}

a:hover, .navHome, .navDiscover:hover, .navTeam:hover, .navPress:hover, .navContact:hover{
	opacity:1;
	cursor: pointer;
}

h1{
	font-size: 5em;	
	color: #eee;
	margin:0;
	padding:0;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size:21px;
	margin:0;
	color: #ccc;

}

/* Centered texts in each section 
* --------------------------------------- */
.slogan {
	font-size: 4em;
	color: white;
	font-weight: bold;
	opacity: .9;
	text-align: center;
}

.hometextcont{
	text-align: center;
	margin-left: 80px;
	color: #eee;
	border: 1px white solid;
	background-color: white;
	opacity: .90;
	border-radius: 20px;
	padding: 15px 5px;
	margin-left: 80px;
	margin-top: 95px;
	color: #eee;
	font-family: Oswald;
}

.donateButton{
	opacity:.75;
	width: 21em;
	height: 5em;
	background-color:#428bca;
	border-color: #357ebd;
	border-radius: 25px;
	color: #fff;
	margin: auto;
	-moz-transition: all 0.6s;
	-webkit-transition: all 0.6s;
	transition: all 0.6s;
	text-align: center;
	margin-bottom: 3em;
}

#donateText {
	padding-top: 5%;
	padding-left: 1.5%;
	font-size: 2em
}

.donateButton:hover{
	opacity: .999;
}


.emailsignupcont, .emailsignupcont2{
	display: none;
	width: 400px;
	text-align: left;
	margin-left: 80px;
	color: #eee;
	font-size: 18px;
}

.slide2textcont{
	text-align: left;
	margin-left: 80px;
	margin-top: -150px;
	color: #eee;	
}
.spotlightcont{
	display: none;
	width: 600px;
	text-align: left;
	margin-left: 80px;
	margin-top: -150px;
	color: #eee;
	font-size: 2em;	
}
.iphonevideoplayer{
	position: absolute;
	margin-left: 350px;
	margin-top:-80px;
}
.iphonevideocont{
	height: 600px;
}
.iphonevideo1, .iphonevideo2, .iphonevideo3, .iphonevideo4, .iphonevideo5{
	display: none;
	position: relative;
	height: 398px;
	top: -102px;
	left: -278px;
	border-radius:3px;
}

.slide2text{
	width: 600px;
	font-size: 18px;
}
.openquote{
	position: absolute;
	margin-top: -35px;
	height: 20px;
}
.closedquote{
	position: absolute;
	margin-left: 15px;
	height: 20px;
	margin-top: 10px;
}

.slide3textcont{
	text-align: left;
	margin-left: 80px;
	margin-top: -200px;
	color: #eee;
}
.peoplelist{
	height:110px; 
	width:600px; 
	text-align: center;
}
.peopleitem{
	height:110px;
	width:110px;
	float:left;
	margin-right:10px;
	font-size: 14px;
	font-weight:bold;
	letter-spacing: 0.15em;

	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.peopleitem:hover{
	margin-top:-5px;
}
.peoplephoto{
	height: 80px;
	border-radius: 50px;
	width: 80px;
	border: 3px solid #fff;
	opacity: 1;
	-moz-transition: all 0.6s;
	-webkit-transition: all 0.6s;
	transition: all 0.6s;
}
.peoplephoto:hover{
	cursor: pointer;
}
.peoplephoto:active{
	transform:rotate(360deg);
	-ms-transform:rotate(360deg); /* IE 9 */
	-webkit-transform:rotate(360deg); /* Opera, Chrome, and Safari */
}

.slide3text{
	height: 100px;
	width: 600px;
	font-size: 18px;
	padding-top: 15px;
}
.teamtext{
	display: block;
	width: 600px;
	height: 100px;
	position: absolute;
}
.alextext{
	display: none;
}
.jasontext{
	display: none;
}
.davidtext{
	display: none;
}
.erictext{
	display: none;
}
.christext{
	display: none;
}

.slide4textcont{
	text-align: left;
	margin-left: 80px;
	margin-top: -200px;
	color: #eee;
}
.hometextcont f{
	display: none;
	text-align: left;
	height: 700px;
	width: 600px;
	margin-left: 80px;
	color: #eee;
}
.pressimagecont{
	height:420px; 
	overflow:scroll;
	margin-bottom:25px;
}
.pressimages, .pressimages a{
	margin-bottom:25px;
	border-radius:100px;
	border:3px solid #eee;
	margin-right:25px;
	opacity: 1;

	-moz-transition: all 0.6s;
	-webkit-transition: all 0.6s;
	transition: all 0.6s;
}
.pressimages:hover, .pressimages a:hover{
	cursor: pointer;
	opacity: 0.6;
	border:3px solid #fff;
}
.slide4text{
	height: 100px;
	width: 350px;
	font-size: 18px;
	padding-top: 15px;
}
.presslinks{
	height: 350px;
	width: 300px;
	font-size: 14px;
	position: relative;
	margin-left: 371px;
	margin-top: -232px;
	overflow: scroll;
}
.pressLinksTitle{
	font-size: 12px;
	color: #ccc;
	margin-bottom:5px;
}
.presslinkstext{
	color:#5DBDFD;
	opacity: 1;
}
.presslinkstext:hover{
	opacity: 0.8;
}
.presskitcont{
	display: none;
	text-align: left;
	height: 700px;
	width: 600px;
	margin-left: 80px;
	color: #eee;
}

.slide5textcont{
	text-align: left;
	margin-left: 80px;
	color: #eee;	
}
.slide5text{
	width: 400px;
	font-size: 18px;
	padding-top: 15px;
}
#contactlist{
	list-style-type: none;
	margin-top:30px;
	font-weight:bold;
	margin-bottom:30px;
}
.contactemails{
	margin-left:20px;
	font-weight:100;
}

#socialmedialist{
	list-style-type: none;
	margin-top:30px;
	margin-bottom:30px;
}

.contactsocialimages{
	height: 25px;
	margin-right: 15px;
}
.slide5download{
	position: absolute;
	height: 125px;
	width: 320px;
	margin-left: 500px;
	margin-top:-100px;
}

/* Backgrounds will cover all the section
* --------------------------------------- */
#section0{
	background-size: cover;
}

	/*Adding background for the slides
* --------------------------------------- */
#slide1{
	background: url(static/yeti/imgs/bg1.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	padding: 0 0 0 0;
}
#slide2{
	background-image: url(static/yeti/imgs/bg2.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 0 0 0 0;
}	
#slide3{
	background-image: url(static/yeti/imgs/bg3.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 0 0 0 0;
}
#slide4{
	background-image: url(static/yeti/imgs/bg4.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 0 0 0 0;
}			
#slide5{
	background-image: url(static/yeti/imgs/bg5.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 0 0 0 0;
}

/* Fixed header and footer.
* --------------------------------------- */
#header, #footer{
	position:fixed;
	height: 50px;
	display:block;
	width: 100%;
	z-index:9;
	color: #fff;
	padding: 40px 0 0 80px;
}

#header{
	top:0px;
}
#footer{
	bottom:0px;
	opacity: 0.6;
	font-size: 12px;
}

.appicontopleft{
	position: fixed;
	opacity: 1;
	z-index: 9;
	top: 40px;
	right: 40px;
}

#socialbuttoncont{
	position: fixed;
	left: 100%;
	margin-top: -18px;
}
.socialbuttontext{
	position: absolute;
	margin-top: 6px;
	margin-left:-30px;
}
.fbshare{
	margin-left:-270px; 
	margin-right:35px; 
	height:25px
}
.twshare, .emshare{
	margin-left:20px; 
	margin-right:35px; 
	height:25px
}

/* Navigation
* --------------------------------------- */
#navlist li {
	display: inline;
	list-style-type: none;
	padding-right: 30px;
	font-size: 20px;
	color:#fff;
}

.activeDot{
	height: 1px;
	width: 54px;
	background-color: #fff;
	margin-left: -1px;
	border-radius: 10px;
	margin-top: 2px;
	opacity: 0.6;

	-moz-transition: all 0.6s;
	-webkit-transition: all 0.6s;
	transition: all 0.6s;
}
.activeDot1{
	//display: none;
	height: 5px;
	width: 5px;
	background-color: #fff;
	margin-left: 23px;
	border-radius: 10px;
	margin-top: 5px;
	opacity: 0.6;

	-moz-transition: all 0.6s;
	-webkit-transition: all 0.6s;
	transition: all 0.6s;	
}

/* Bottom menu
* --------------------------------------- */
#infoMenu {
	bottom: 80px;
}
#infoMenu li a {
	color: #333;
	z-index: 999;
}

/* Arrow
* --------------------------------------- */
.slidearrow{
	width: 25px;
	height: 55px;
    position: absolute;
    top: 50%; 
    margin-top:-37px;
	background-size: 25px;
	background-repeat: no-repeat;
	opacity: 0.6;
	-webkit-transition: opacity 300ms ease-out;
}
.slidearrow:hover{
	opacity: 1;
}
.sliderightarrow{
    left:100%;
    margin-left:-100px;
	background-image: url('static/yeti/imgs/rtarrow.png');
}
.slideleftarrow{
 	left: 35px;
	/*background-image: url('/static/yeti/imgs/leftarrow.png');*/
}

.slidenumarrow{
	position: relative;
	width: 50px;
	left: 100%;
	margin-left: -50px;
}
.slide2arrow{
	margin-top: -190px;
}
.slide3arrow{
	margin-top: -180px;
}
.slide4arrow{
	margin-top: -240px;
}
